@import "../../utils/_variables.scss";

.t_home {
  &__intro {
    margin: 0 auto 3em;
    padding-bottom: 1em;
    max-width: 600px;
    border-bottom: 3px dashed $orange;
    text-align: center;
    h2 {
      margin-bottom: 1em;
    }
  }
}

.c_playerList {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
}
